<div class="btn-group pull-right span2">
	<%= link_to 'add new log', new_log_path, :remote => true, :title => 'Add new log', :class => "log-modal-toggler btn btn-primary btn-small" %>
</div>

<div class="page-header">	  	
  	<h1>Available Logs</h1> 
</div>	

<div class="row">
	<div class="span12">		
		<%= render 'loglisting' %>
	</div>
</div>