<div class="row">
	<div class="span6">		
		<%= render 'loglisting' %>
	</div>
	<div class="span5">
		<div class="well" style="margin-top:30px">
			<h3>Upload a Log</h3>
			<%= render 'form' %>
		</div>
	</div>
</div>