<div class="btn-group pull-right span3">
	<%= link_to raw('<i class="icon-eye-open"></i> view log'), log_path(@log), :title => 'View log', :class => "modal-toggler btn btn-small" %>
</div>

<%= render 'resources' %>