<% if flash[:notice].is_a?(Hash) %>
      <div class="alert alert-block alert-<%=flash[:notice][:type]%>">
            <button type="button" class="close" data-dismiss="alert">×</button><%
            case flash[:notice][:type]
                  when "error"
                        %><h4>Oops!</h4><%
                  when "success"
                        %><h4>Success!</h4><%
            end
            %>
      	<%= raw(flash[:notice][:message]) %>
      </div>
<% else %>
      <div class="alert alert-block">      			
            <button type="button" class="close" data-dismiss="alert">×</button>
      	<%= flash[:notice] %>
      </div>
<% end %>